<section id="countdown" class="countdown-container">
    <div class="wrap">
        <p>This is a Countdown Section</p>
        <ul>
            <li>Years</li>
            <li>Days</li>
            <li>Hours</li>
        </ul>
    </div>
</section>