<header>
    <a href="http://www.google.com">
        <img src="dist/img/google-logo.png" alt="Google Logo">
    </a>
    <p> This is my test project demonstrating or revising skills with
        <ul>
            <li>Yeoman</li>
            <li>Gulp</li>
            <li>browsersync</li>
            <li>Handlebars</li>

        </ul>
    </p>
</header>